<template>
    <div class="root">
        <div class="fecha">
            <div class="prefix">
                <div class="tit"> F/1 Sabado 27 de Abril </div>

                <div class="partido">
                    <div class="col eqp">1 - Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">13- Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">15- Union del Norte</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Union del Norte</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="col libre"> Libre: Los Liricos </div>
            </div>
        </div>

        <div class="fecha">
            <div class="prefix">
                <div class="tit"> F/1 Sabado 27 de Abril </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Union del Norte</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Union del Norte</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="col libre"> Libre: Los Liricos </div>
            </div>
        </div>

        <div class="fecha">
            <div class="prefix">
                <div class="tit"> F/1 Sabado 27 de Abril </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Union del Norte</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Union del Norte</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="col libre"> Libre: Los Liricos </div>
            </div>
        </div>

        <div class="fecha">
            <div class="prefix">
                <div class="tit"> F/1 Sabado 27 de Abril </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Union del Norte</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Union del Norte</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="partido">
                    <div class="col eqp">Mario Aguilar</div>
                    <div class="vs">VS</div>
                    <div class="col eqp">Bod Martiniano</div>
                    <div class="time"> C8 10.30 </div>
                </div>

                <div class="col libre"> Libre: Los Liricos </div>
            </div>
        </div>
    </div>
</template>


<script>

export default {

}
</script>

<style scoped>
.root {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    height: 100vh;
    background: none;
    overflow: hidden;
    flex-wrap: wrap;
    color: white;
    font-family: 'Yatra One', cursive;
}

.fecha {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.col {
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: center;
    text-align: center;
    border-right: 1px solid white;
}

.prefix {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 28vw;
    top: 10px;
}

.tit {
    display: flex;
    justify-content: center;
    font-size: 22px;
    width: 38vw;
    margin-bottom: 3px;
}

.partido {
    border: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    width: 38vw;
}

.eqp {
    width: 16vw;
}

.vs {
    border-right: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
}

.libre {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    width: stretch;
}
</style>
