<template>
	<div class="root">
		<div class="zonas">
			<div class="z"> Zona 1</div>
			<div class="z"> Zona 2</div>
			<div class="z"> Zona 3</div>
			<div class="z"> Eliminatoria </div>
		</div>
		<div class="division">
			<div class="tit"> FECHA 1, Sabado 27 de Abril </div>
			<br>
			<div class="partido"> 
				<div class="equipo"> Mario Aguilar </div>
				<div class="res" style="border-right: none !important; "> 3 </div>
				<div class="res"> 2 </div>
				<div class="equipo"> Bod Martiniano </div>
			</div>
			<div class="time">
				<div class="tp"> Cancha 8 </div>
				<div class="tp"> 10:30hs </div>
			</div>
			<br>
			<div class="partido"> 
				<div class="equipo"> Mario Aguilar </div>
				<div class="res" style="border-right: none !important; "> 3 </div>
				<div class="res"> 2 </div>
				<div class="equipo"> Bod Martiniano </div>
			</div>
			<div class="time">
				<div class="tp"> Cancha 8 </div>
				<div class="tp"> 10:30hs </div>
			</div>
		</div>
		<div class="division">
		</div>
		<div class="division">
		</div>
		<div class="division">
		</div>
	</div>
</template>

<script>
export default {
  
}
</script>

<style scoped>
	.root {
		display: flex;
		flex-wrap: wrap;
		width: stretch;
		height: stretch;
		color: white;
		font-size: 40px;
		font-family: 'Yatra One', cursive;
	}

	.zonas {
		display: flex;
		width: stretch;
		height: 10vh;
	}

	.z {
		display: flex;
		justify-content: center;
		align-items: center;
		width: calc(80vw / 4);
	}

	.division {
		display: flex;
		flex-direction: column;
		width: 40vw;
		height: 45vh;
		border: 1px solid white;
		justify-content: baseline;
		align-items: center;
	}

	.tit {
		margin-top: 10px;
		width: stretch;
		font-size: 25px;
		text-align: center;
		border-bottom: 1px solid white;
	}

	.partido {
		display: flex;
		width: stretch;
		font-size: 24px;
		text-align: center;
		border-top: 1px solid white;
		border-bottom: 1px solid white;
	}

	.time { 
		display: flex;
		justify-content: space-between;
		font-size: 24px;
		width: 250px;
		text-align: center;
		border: 1px solid white;
		border-top: none;
	}

	.tp {
		border-left: 1px solid white;
		width: 125px;
	}
	
	.equipo {
		width: 18vw;
		
	}

	.res { 
		width: 4vw; 
		border-left: 1px solid white;
		border-right: 1px solid white;
	}
</style>
