<template>
	<div class="rootcontainer">

		<div class="tabla">
			<div class="header">
				<div class="col team"> EQUIPO </div>
				<div class="col"> PJ </div>
				<div class="col"> PG </div>
				<div class="col"> PE </div>
				<div class="col"> PP </div>
				<div class="col"> GF </div>
				<div class="col"> GC </div>
				<div class="col"> DIF </div>
				<div class="col"> PTOS </div>
			</div>
			<div class="lista" v-for="equipo in posiciones_equipos">
				<div class="col team"> {{ equipo.nombre }} </div>
				<div class="col"> {{ equipo.pj }} </div>
				<div class="col"> {{ equipo.pg }} </div>
				<div class="col"> {{ equipo.pe }} </div>
				<div class="col"> {{ equipo.pp }} </div>
				<div class="col"> {{ equipo.gf }} </div>
				<div class="col"> {{ equipo.gc }} </div>
				<div class="col"> {{ equipo.dif }} </div>
				<div class="col"> {{ equipo.puntos }} </div>
			</div>
		</div>

		<div class="rightside">
			<div class="prefix">
				<div class="tit"> Resultados fecha xx </div>
			<div class="partido">
				<div class="col eq">Mario Aguilar</div>
				<div class="res">3</div>
				<div class="res">2</div>
				<div class="col eq">Bod Martiniano</div>
			</div>

			<div class="partido">
				<div class="col eq">Mario Aguilar</div>
				<div class="res">3</div>
				<div class="res">2</div>
				<div class="col eq">Bod Martiniano</div>
			</div>

			<div class="partido">
				<div class="col eq">Mario Aguilar</div>
				<div class="res">3</div>
				<div class="res">2</div>
				<div class="col eq">Bod Martiniano</div>
			</div>

			<div class="partido">
				<div class="col eq">Mario Aguilar</div>
				<div class="res">3</div>
				<div class="res">2</div>
				<div class="col eq">Bod Martiniano</div>
			</div>

			<div class="partido">
				<div class="col eq">Mario Aguilar</div>
				<div class="res">3</div>
				<div class="res">2</div>
				<div class="col eq">Bod Martiniano</div>
			</div>

			<div class="partido">
				<div class="col eq">Mario Aguilar</div>
				<div class="res">3</div>
				<div class="res">2</div>
				<div class="col eq">Bod Martiniano</div>
			</div>

			<div class="partido">
				<div class="col eq">Mario Aguilar</div>
				<div class="res">3</div>
				<div class="res">2</div>
				<div class="col eq">Bod Martiniano</div>
			</div>

			<div class="col libre"> Libre: Los Liricos </div>
		</div>

		<div class="prefix">
			<div class="tit"> Proxima fecha </div>

			<div class="partido">
				<div class="col eqp">Mario Aguilar</div>
				<div class="vs">VS</div>
				<div class="col eqp">Bod Martiniano</div>
				<div class="time"> C8 10.30 </div>
			</div>

			<div class="partido">
				<div class="col eqp">Mario Aguilar</div>
				<div class="vs">VS</div>
				<div class="col eqp">Bod Martiniano</div>
				<div class="time"> C8 10.30 </div>
			</div>

			<div class="partido">
				<div class="col eqp">Mario Aguilar</div>
				<div class="vs">VS</div>
				<div class="col eqp">Bod Martiniano</div>
				<div class="time"> C8 10.30 </div>
			</div>

			<div class="partido">
				<div class="col eqp">Union del Norte</div>
				<div class="vs">VS</div>
				<div class="col eqp">Bod Martiniano</div>
				<div class="time"> C8 10.30 </div>
			</div>

			<div class="partido">
				<div class="col eqp">Mario Aguilar</div>
				<div class="vs">VS</div>
				<div class="col eqp">Union del Norte</div>
				<div class="time"> C8 10.30 </div>
			</div>

			<div class="partido">
				<div class="col eqp">Mario Aguilar</div>
				<div class="vs">VS</div>
				<div class="col eqp">Bod Martiniano</div>
				<div class="time"> C8 10.30 </div>
			</div>

			<div class="partido">
				<div class="col eqp">Mario Aguilar</div>
				<div class="vs">VS</div>
				<div class="col eqp">Bod Martiniano</div>
				<div class="time"> C8 10.30 </div>
			</div>

			<div class="col libre"> Libre: Los Liricos </div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data: function() {
			return {
				posiciones_equipos: []
			}
		},
		mounted: function() {
			this.posiciones_equipos = []
			
			cargarPosiciones(this.posiciones_equipos)
		}
	}
</script>

<style scoped>
	.rootcontainer {
	  display: flex;
	  justify-content: space-between;
	  width: 80vw;
	  height: stretch;
	  color: white;
	  border-left: 1px solid white;
	  font-family: 'Yatra One', cursive;
	}

	.tabla {
	  display: flex;
	  flex-direction: column;
	  width: 50vw;

	}

	.header,
	.lista {
	  display: flex;
	  border-bottom: 1px solid white;
	  flex-direction: row;
	}

	.col {
	  display: flex;
	  flex-direction: column;
	  height: 30px;
	  width: 50px;
	  justify-content: center;
	  text-align: center;
	  border-right: 1px solid white;
	}

	.team {
	  width: 20vw;
	}

	.rightside {
	  display: flex;
	  flex-direction: column;
	  justify-content: space-around;
	}

	.prefix {
		display: flex;
		flex-direction: column;
		height: 40vh;
		width: 28vw;
		top: 10px;
	}

	.tit {
	  display: flex;
	  justify-content: center;
	  width: 24vw;
	  font-size: 22px;
	}

	.partido {
	  	display: flex;
	  	border-left: 1px solid white;
	  	width: stretch;
	}

	.eq {
	  border-top: 1px solid white;
	  border-bottom: none;
	  width: 11vw;
	}

	.eqp {
		border-top: 1px solid white;
	  	border-bottom: none;
	  	width: 10vw;
	}

	.res {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  border-right: 1px solid white;
	  border-top: 1px solid white;
	  width: 3vw;
	}

	.vs {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  border-right: 1px solid white;
	  border-top: 1px solid white;
	  border-bottom: none;
	  width: 2vw;
	}

	.time {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 6vw;
		border-top: 1px solid white;
		border-right: 1px solid white;
	}

	.libre {
		display: flex;
	  	justify-content: center;
	  	border: 1px solid white;
	  	width: stretch;
	}
</style>
