<template>
	<div class="root">
		<div class="lista">
			<div class="tr">
				<div class="col j">Jugador</div>
				<div class="col c">Club</div>
				<div class="col g">Rojas</div>
			</div>
			<div class="tr">
				<div class="col j">Martinez Miguel</div>
				<div class="col c">Mario Aguilar</div>
				<div class="col g">129</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
  
}
</script>

<style scoped>
	.root {
		display: flex;
		width: stretch;
		height: stretch;
		color: white;
		font-size: 20px;
		font-family: 'Yatra One', cursive;
	}

	.lista {
		display: flex; 
		flex-direction: column;
	}
	
	.tr {
		display: flex;
		border-bottom: 1px solid aqua;
		
	}

	.col { border-right: 1px solid aqua; }
	.j { width: 35vw; }
	.c { width: 35vw; }
	.g { width: 10vw; }
</style>
