html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw !important;
    height: 100vh !important;
}

/*
#__nuxt {
    width: 100%;
    height: 100%;
}

#__layout {
    height: 100%;
    width: 100%;
}
