<template>
    <div class="modal-backdrop">
        <div v-if="this.$store.state.agregarEquipo" class="modal" style="height: 14%;">
            <header class="modal-header">
                <slot name="header">
                    <button id="btnx" class="btn-close" @click="cerrar">x</button>
                </slot>
            </header>
            <section class="modal-body">
                <slot name="body">
                    <div class="c">
                        Ingrese Nombre del Equipo
                        </br>
                        </br>
                        <input class="input" v-model="nombre" v-on:keyup.enter="close">
                    </div>
                    <div class="btnnn">
                        <button type="button" class="btn-green" @click="close"> Agregar </button>
                    </div>
                </slot>
            </section>
        </div>
		<div v-if="this.$store.state.modificarEquipo" class="modal">
            <header class="modal-header">
                <slot name="header">
                    <button id="btnx" class="btn-close" @click="cerrar">x</button>
                </slot>
            </header>
            <section class="modal-body">
                <slot name="body">
					<div class="vertical">
						<div class="select-equipos">
							<select v-model="equipo_select">
								<option v-for="equipo in $store.state.futbol.getEquipos()" :value="equipo.id">{{ equipo.nombre }}</option>
							</select>
						</div>
                    	<div class="c">
                        	Ingrese el nuevo Nombre del Equipo
                        	<br>
                        	<br>
                        	<input class="input" v-model="nombre" v-on:keyup.enter="close">
                    	</div>
                    	<div class="btnnn">
                        	<button type="button" class="btn-green" @click="close"> Modificar </button>
                    	</div>
					</div>
                </slot>
            </section>
        </div>
		<div v-if="this.$store.state.eliminarEquipo" class="modal">
            <header class="modal-header">
                <slot name="header">
                    <button id="btnx" class="btn-close" @click="cerrar">x</button>
                </slot>
            </header>
            <section class="modal-body">
                <slot name="body">
					<div class="vertical">
						<div class="select-equipos">
							<select v-model="equipo_select">
								<option v-for="equipo in $store.state.futbol.getEquipos()" :value="equipo.id">{{ equipo.nombre }}</option>
							</select>
						</div>
                    	<div class="btnnn">
                        	<button type="button" class="btn-green" @click="close"> Eliminar </button>
                    	</div>
					</div>
                </slot>
            </section>
        </div>
    </div>
</template>

<script>
export default {
    props: [],

    data: function() {
        return {
			nombre: '',
			equipo_select: ''
        }
    },

    methods: {
		cerrar() {
			this.nombre = ''
			this.equipo_select = ''
			this.$emit('close');
		},
        close() {
			if (this.$store.state.agregarEquipo) {
				this.$store.commit('setDataModal', this.nombre)
				this.nombre = ''
			}

			if (this.$store.state.modificarEquipo) {
				if (this.nombre != '') {
					this.$store.commit('setDataModal', this.equipo_select + "," + this.nombre)
					this.nombre = ''
				}
			}

			if (this.$store.state.eliminarEquipo) {
				this.$store.commit('setDataModal', this.equipo_select)
				this.nombre = ''
			}

            this.$emit('close');
        },
    },

	mounted: function() {
	}
};
</script>

<style>

.btnnn {
    display: flex;
    flex-grow: 0;
    flex-direction: column-reverse;
}

.c {
    display: flex;
    flex-direction: column;
    color: #4AAE9B;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
	height: 25%;
}

.modal-header,
.modal-footer {
    padding: 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
}

.modal-header {
    color: #4AAE9B;
    height: 5%;
}

.modal-footer {
    justify-content: flex-end;
}

.modal-body {
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
	height: 95%;
}

.btn-close {
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #4AAE9B;
    background: transparent;
}

.btn-green {
    color: white;
    background: #4AAE9B;
    border: 1px solid #4AAE9B;
    border-radius: 2px;
    height: 20px;
}

.vertical {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}

.select-equipos {

}
</style>
