<template>
	<div class="area-equipo">
		<div class="container-equipos">
			<div class="area-volver" @click="$router.push('/')">
				<i class="fas fa-arrow-circle-left fa-2x"></i>
			</div>

			<div class="lista-equipos">
				<div class="botones-lista">
					<button @click="agregar">Agregar</button>
					<button @click="modificar">Modificar</button>
					<button @click="eliminar">Eliminar</button>
					<div class="botonera">
						<button :disabled="showBotones">Plantilla</button>
						<button :disabled="showBotones">Goles</button>
						<button :disabled="showBotones">Amarillas</button>
						<button :disabled="showBotones">Rojas</button>
					</div>
				</div>
				<div class="lista">
					<div class="item-equipo" v-for="equipo in dataEquipos" v-bind:key="equipo.id">
						<span :id="equipo.id" @click="cargarEquipo()">{{ equipo.nombre }}</span>
					</div>
				</div>
			</div>
		</div>

		<div class="plantel-equipos" v-if="mostrarTabla">
		<!--<div class="plantel-equipos" v-if="mostrarTabla === 0">-->
			<div class="tabla">
				<div class="fila-tabla header">
					<div class="items">
						<div style="width: 34%;">
							<span>Apellido y Nombre</span>
						</div>
						<div style="width: 16%;">
							<span>Documento</span>
						</div>
						<div style="width: 16%;display: flex;flex-direction: column;">
							<span>Fecha</span>
							<span>Nacimiento</span>
						</div>
						<div style="width: 34%;">
							<span>Domicilio</span>
						</div>
					</div>
				</div>

				<div class="fila-tabla" v-for="jugador in dataJugadores" v-bind:key="jugador.id">
					<div class="items">
						<div style="width: 34%; text-transform: uppercase;" @dblclick="mostrarInput('nombre')">
							<span>{{ jugador.nombre }}</span>
							<input :placeholder="jugador.nombre" :id="jugador.id" v-model="nombre" v-on:keyup.enter="guardar('nombre')" v-on:keyup.esc="cancelarModificacion('nombre')" style="display:none;">
						</div>
						<div style="width: 16%" @dblclick="mostrarInput('documento')">
							<span>{{ jugador.dni }}</span>
							<input :placeholder="jugador.dni" :id="jugador.id" v-model="documento" v-on:keyup.enter="guardar('documento')" v-on:keyup.esc="cancelarModificacion('documento')" style="display:none;">
						</div>
						<div style="width: 16%" @dblclick="mostrarInput('fecha')">
							<span>{{ jugador.fecha }}</span>
							<input :placeholder="jugador.fecha" :id="jugador.id" v-model="fecha" v-on:keyup.enter="guardar('fecha')" v-on:keyup.esc="cancelarModificacion('fecha')" style="display:none;">
						</div>
						<div style="width: 34%" @dblclick="mostrarInput('domicilio')">
							<span>{{ jugador.domicilio }}</span>
							<input :placeholder="jugador.domicilio" :id="jugador.id" v-model="domicilio" v-on:keyup.enter="guardar('domicilio')" v-on:keyup.esc="cancelarModificacion('domicilio')" style="display:none;">
						</div>
					</div>
				</div>
				<div class="fila-tabla">
					<div class="items">
						<div style="border: none">
							<span style="cursor: pointer" @click="agregarJugador"> <i class="far fa-plus-square"></i> </span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="lista-goles" v-else-if="mostrarTabla === 1"> 

		</div>

		<div class="lista-amarillas" v-else-if="mostrarTabla === 2"> 

		</div>

		<div class="lista-rojas" v-else-if="mostrarTabla === 3"> 
			
		</div>

		<modal v-show="mostrarModal" @close="closeModal"></modal>

	</div>
</template>

<script>
import modal from '~/components/modal.vue'
import Vue from 'vue'

export default {
	components: {
		modal
	},
	data: function() {
		return {
			domicilio: '',
			nombre: '',
			documento: '',
			fecha: '',
			domicilio: '',
			mostrarModal: false,
			mostrarTabla: false,
			modificandoNombre: false,
			modificandoDocumento: false,
			modificandoFecha: false,
			modificandoDomicilio: false,
			showBotones: true,
			idEquipo: 0,
			dataEquipos: [],
			dataJugadores: []
		}
	},
    head: {
        link: [
            { href: "https://fonts.googleapis.com/css?family=Yatra+One", rel: "stylesheet" }
        ]
    },
	methods: {
		cargarEquipo: function() {
			this.idEquipo = event.target.id

			this.dataJugadores = []
			this.$store.state.futbol.cargarJugadoresA(this.dataJugadores, this.$store.state.futbol.getEquipo(this.idEquipo).getJugadores())

			this.mostrarTabla = true
			this.showBotones = false
		},
		agregar: function() {
			this.$store.commit('setAgregarEquipo')
			this.mostrarModal = true
		},
		modificar: function() {
			this.$store.commit('setModificarEquipo')
			this.mostrarModal = true
		},
		eliminar: function() {
			this.$store.commit('setEliminarEquipo')
			this.mostrarModal = true
		},
		closeModal: function() {
			if (this.$store.state.agregarEquipo && this.$store.state.dataModal != '') {
				this.dataEquipos = []
				this.$store.commit('addEquipo', this.dataEquipos)
			}
			if (this.$store.state.modificarEquipo && this.$store.state.dataModal != '') {
				this.dataEquipos = []
				this.$store.commit('modEquipo', this.dataEquipos)
			}
			if (this.$store.state.eliminarEquipo && this.$store.state.dataModal != '') {
				this.dataEquipos = []
				this.$store.commit('remEquipo', this.dataEquipos)
			}

			this.$store.commit('vaciarModalEquipo')
			this.mostrarModal = false
		},
		agregarJugador: function() {
			if (!this.modificandoNombre && !this.modificandoDocumento && !this.modificandoFecha && !this.modificandoDomicilio) {
				this.dataJugadores.push({"id": "0"})
			} else {
				alert("Termine de modificar para crear uno nuevo")
			}
		},
		cancelarModificacion: function(column) {
			if (event.target.id != 0) {
				let span = event.target.parentNode.childNodes[0]
				let input = event.target.parentNode.childNodes[1]

				span.style.setProperty("display", "block")
				input.style.setProperty("display", "none")

				if (column == "nombre") {
					this.nombre = ''
					this.modificandoNombre = false
				} else if (column == "documento") {
					this.documento = ''
					this.modificandoDocumento = false
				} else if (column == "fecha") {
					this.fecha = ''
					this.modificandoFecha = false
				} else if (column == "domicilio") {
					this.domicilio = ''
					this.modificandoDomicilio = false
				}
			} else {
				this.dataEquipo.pop()
			}
		},
		guardar: function(column) {
			let id = event.target.id
			let span = event.target.parentNode.childNodes[0]
			let input = event.target.parentNode.childNodes[1]

			if (id != 0) {
				span.style.setProperty("display", "block")
				input.style.setProperty("display", "none")

				this.dataJugadores = [] // Reinicio los datos de los jugadores
				this.$store.state.futbol.modificarJugador(id, column, input.value, this.idEquipo, this.dataJugadores)

				// Desactivo el input dependiendo del campo
				if (column == "nombre") {
					this.nombre = ''
					this.modificandoNombre = false
				} else if (column == "documento") {
					this.documento = ''
					this.modificandoDocumento = false
				} else if (column == "fecha") {
					this.fecha = ''
					this.modificandoFecha = false
				} else if (column == "domicilio") {
					this.domicilio = ''
					this.modificandoDomicilio = false
				}
			} else {
				if (column == "domicilio") { // Si se hizo enter en el ultimo campo
					let hijosRowItems = document.getElementById('0').parentNode.parentNode.childNodes // casillas con inputs

					// Desactivo los inputs
					hijosRowItems.forEach((column) => {
						column.childNodes[0].style.setProperty("display", "block")
						column.childNodes[1].style.setProperty("display", "none")
					})

					this.dataJugadores = [] // Reinicio los datos de los jugadores
					this.$store.state.futbol.agregarJugador(this.idEquipo, this.nombre, this.documento, this.fecha, this.domicilio, this.dataJugadores)

					// limpio variables y desactivos inputs
					this.nombre = ''
					this.documento = ''
					this.fecha = ''
					this.domicilio = ''

					this.modificandoNombre = false
					this.modificandoDocumento = false
					this.modificandoFecha = false
					this.modificandoDomicilio = false
				}
			}
		},
		mostrarInput: function(column) {
			if (column == "nombre" && this.modificandoNombre){
				alert("Ya se esta modificando un nombre")
			} else if (column == "documento" && this.modificandoDocumento){
				alert("Ya se esta modificando un documento")
			} else if (column == "fecha" && this.modificandoFecha) {
				alert("Ya se esta modificando una fecha")
			} else if (column == "domicilio" && this.modificandoDomicilio) {
				alert("Ya se esta modificando un domicilio")
			} else {
				let span = null
				let input = null

				if (event.target.tagName == "SPAN"){
					span = event.target.parentNode.childNodes[0]
					input = event.target.parentNode.childNodes[1]
				} else {
					span = event.target.childNodes[0]
					input = event.target.childNodes[1]
				}

				span.style.setProperty("display", "none")
				input.style.setProperty("display", "block")
				input.focus();

				if (column == "nombre") {
					this.modificandoNombre = true
				} else if (column == "documento") {
					this.modificandoDocumento = true
				} else if (column == "fecha") {
					this.modificandoFecha = true
				} else if (column == "domicilio") {
					this.modificandoDomicilio = true
				}
			}
		}
	},
	mounted: function() {
		setTimeout(this.$store.state.futbol.cargarEquiposA(this.dataEquipos, this.$store.state.futbol.getEquipos()), 1000)
	},
	watch: {
		dataJugadores: function() {
			let self = this

			Vue.nextTick(function() {
				if (document.getElementById('0') != null) {
					let hijosRowItems = document.getElementById('0').parentNode.parentNode.childNodes

					hijosRowItems.forEach((column) => {
						column.childNodes[0].style.setProperty("display", "none")
						column.childNodes[1].style.setProperty("display", "block")
					})

					self.modificandoNombre = true
					self.modificandoDocumento = true
					self.modificandoFecha = true
					self.modificandoDomicilio = true
				}
			})
		}
	}
}
</script>

<style scoped>

.area-equipo {
	display: flex;
	width: 100vw;
	height: 100vh;
	background: url('/images/fondo2.jpg');
	font-family: "Yatra One", cursive;
}

.area-volver {
	display: flex;
	flex-direction: column;
	width: 3vw;
	height: 5vh;
	padding: 7px 0px 0px 7px;
	cursor: pointer;
}

.container-equipos {
	display: flex;
	width: 25vw;
	height: 100vh;
}

.lista-equipos {
	width: 22vw;
	height: 100%;
	border-right-width: 1px;
	border-right-color: #fff;
	border-right-style: solid;
	user-select: none;
}

.botones-lista {
	height: 7vh;
	width: 22vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: red;
}

.botones-lista > button {
	width: calc(22vw / 3);
	height: 5vh;
}

.lista {
	height: 20vh;
	width: 22vw;
}

.item-equipo {
	width: stretch;
	cursor: pointer;
	font-size: 24px;
	color: white;
	transition: all .1s ease-in;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.item-equipo:hover {
	background: rgba(255, 255, 255, 0.25);
}

.lista-equipos > .lista > .seleccionado {
	background: rgba(255, 255, 255, 0.25);
}

.plantel-equipos {
	color: #e6ffff;
	width: 75vw;
	height: 100vh;
	overflow: hidden;
    font-family: 'Yatra One', cursive;
}

.tabla {
	width: stretch;
	flex-direction: column;
	height: 100vh;
	overflow: auto;
}

.fila-tabla {
	display: flex;
	height: 7vh;
	justify-content: center;
	align-items: center;
}

.items {
	width: stretch;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.items > div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: stretch;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}

.items > div > span {
	font-size: 150%;
	cursor: context-menu;
	user-select: none;
}

.items > div > input {
	width: stretch;
	background: rgba(255, 255, 255, 0.3);
	outline: none;
	text-align: center;
	font-size: 150%;
	font-family: 'Yatra One', cursive;
	color: white;
	border: none;
	height: stretch;
}

button {
	background: transparent;
	outline: none;
	border: 1px solid #00AACC;
	cursor: pointer;
	color: white;
}

button:hover {
	background: linear-gradient(to top, rgba(255, 255, 255, 0.4), transparent);
}

.botonera:hover {
	display: flex !important;
}

button[disabled]:hover {
	background:#CCCCCC;
	cursor: not-allowed;
}

button:disabled {
	background-color:#CCCCCC;
	color: #666666;
	border: 1px solid #999999;
}

.botonera {
	display: flex;
	flex-direction: row;
	width: 22vw;
	height: 2vh;
}

.botonera > button {
	width: calc(22vw / 4);
	line-height: 7%;
}

</style>
