<template>
	<div class="area-body">
		<div class="container">
			<button @click="irEquipos">Equipos</button>
			<button @click="irTorneo">Torneo</button>
		</div>
		<div class="derecha">
			<button @click="exit"> X </button>
		</div>
	</div>
</template>

<script>

const remote = require('electron').remote;

export default {
    components: {},
    head: {
    	script: [
    		{ src: '/js/system/system.js' }
    	]
    },
	methods: {
		irEquipos: function() {
			this.$router.push('equipos')
		},
		irTorneo: function() {
			this.$router.push('torneo')
		},
		exit: function() {
			remote.getCurrentWindow().close()
		}
	},
	mounted: function() {
		//this.$store.commit('setFutbol', new Futbol())
		SystemJS.import('/js/typescript/init.js')
	}
}
</script>


<style scoped>
.area-body {
	height: 100vh;
	width: 100vw;
	display: flex;
	background: url('/images/fondo.jpg');
	background-size: 100%;
}
.container {
	display: flex;
	flex-direction: column;
	width: 90vw;
	height: 100vh;
	align-items: center;
	justify-content: space-around;
}

.container > button {
	width: 50vw;
	height: 30vh;
	font-size: 100px;
	background-color: transparent;
	color: #fff;
	font-family: "Algerian";
	outline: none;
	cursor: pointer;
}

.derecha {
	display: flex;
	width: 10vw;
	height: 100vh;
	flex-direction: row-reverse;
	justify-content: baseline;
}

.derecha > button {
	height: 30px;
	background-color: transparent;
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
}

</style>
