<template>
	<div class="area-torneo">
		<div class="area-izquierda">
			<div class="area-volver" @click="$router.push('/')">
				<i class="fas fa-arrow-circle-left fa-2x"></i>
			</div>
			<nuxt-link to="/torneo/posiciones" class="linker">Posiciones</nuxt-link>
			<nuxt-link to="" class="linker est">Estadisticas</nuxt-link>
			<nuxt-link to="/torneo/fixture" class="linker">Fixture</nuxt-link>
			<nuxt-link to="/torneo/liguilla" class="linker">Liguilla</nuxt-link>
			<div class="selector">
				<nuxt-link to="/torneo/goleadores" class="selection">Goles</nuxt-link>
				<nuxt-link to="/torneo/tarja" class="selection">Tarj Am </nuxt-link>
				<nuxt-link to="/torneo/tarjr" class="selection"> Tarj roj </nuxt-link>
			</div>
		</div>
		<div class="area-derecha">
			<nuxt-child></nuxt-child>
		</div>
	</div>
</template>

<script>

export default {
    head: {
        link: [
            { href: "https://fonts.googleapis.com/css?family=Vast+Shadow", rel: "stylesheet" },
            { href: "https://fonts.googleapis.com/css?family=Yatra+One", rel: "stylesheet" }
        ]
    }
}

</script>

<style scoped>
.area-torneo {
	display: flex;
    overflow: hidden;
    justify-content: space-between;
	width: 100vw;
	height: 100vh;
	background: url('/images/fondo2.jpg');
}

.area-volver {
	display: flex;
	flex-direction: column;
	width: 3%;
	height: 5%;
	margin-top: 1%;
	cursor: pointer;
}

.area-izquierda {
	width: 20vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}


.linker {
	border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid #aaa;
    border-bottom: 3px solid #aaa;
    font-family: 'Vast Shadow', cursive;
    width: 260px;
    height: 97px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
	color: white;
	font-size: 30px;
}

.selector{
	font-family: 'Yatra One', cursive;
	position: fixed;
	display: none;
	flex-direction: column;
	width: 100px;
	height: 150px;
	background-color: #17878F;
	border: 3px double white;
	left: 18vw;
	transition: all .3s ease-in;
}

.est:hover ~ .selector {
	display: flex;
}

.selector:hover {
	display: flex;
}

.selection {
	width: 100px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-decoration: none;
	transition: all .2s ease-in;
}

.selection:hover {
	background-color: #4BD2DB;
}
</style>
